---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - torrent.qbittorrent.io
  resources:
  - torrentclientconfigurations
  - torrents
  - torrentservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - torrent.qbittorrent.io
  resources:
  - torrentclientconfigurations/finalizers
  - torrents/finalizers
  - torrentservers/finalizers
  verbs:
  - update
- apiGroups:
  - torrent.qbittorrent.io
  resources:
  - torrentclientconfigurations/status
  - torrents/status
  - torrentservers/status
  verbs:
  - get
  - patch
  - update
